<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SampleProject</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserBO</display-name>
    <servlet-name>UserBO</servlet-name>
    <servlet-class>com.BO.UserBO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBO</servlet-name>
    <url-pattern>/UserBO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBOO</display-name>
    <servlet-name>UserBOO</servlet-name>
    <servlet-class>com.BO.UserBOO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBOO</servlet-name>
    <url-pattern>/UserBOO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URegBO</display-name>
    <servlet-name>URegBO</servlet-name>
    <servlet-class>com.BO.URegBO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URegBO</servlet-name>
    <url-pattern>/URegBO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminVApproveBO</display-name>
    <servlet-name>AdminVApproveBO</servlet-name>
    <servlet-class>com.BO.AdminVApproveBO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVApproveBO</servlet-name>
    <url-pattern>/AdminVApproveBO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VRegBO</display-name>
    <servlet-name>VRegBO</servlet-name>
    <servlet-class>com.BO.VRegBO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VRegBO</servlet-name>
    <url-pattern>/VRegBO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPolicyLoginBO</display-name>
    <servlet-name>UserPolicyLoginBO</servlet-name>
    <servlet-class>com.BO.UserPolicyLoginBO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPolicyLoginBO</servlet-name>
    <url-pattern>/UserPolicyLoginBO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URegController</display-name>
    <servlet-name>URegController</servlet-name>
    <servlet-class>com.controller.URegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URegController</servlet-name>
    <url-pattern>/URegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminVApproveController</display-name>
    <servlet-name>AdminVApproveController</servlet-name>
    <servlet-class>com.controller.AdminVApproveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVApproveController</servlet-name>
    <url-pattern>/AdminVApproveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VRegController</display-name>
    <servlet-name>VRegController</servlet-name>
    <servlet-class>com.controller.VRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VRegController</servlet-name>
    <url-pattern>/VRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayPremiumBO</display-name>
    <servlet-name>PayPremiumBO</servlet-name>
    <servlet-class>com.BO.PayPremiumBO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayPremiumBO</servlet-name>
    <url-pattern>/PayPremiumBO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayPremiumController</display-name>
    <servlet-name>PayPremiumController</servlet-name>
    <servlet-class>com.controller.PayPremiumController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayPremiumController</servlet-name>
    <url-pattern>/PayPremiumController</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
    <description></description>
    <display-name>ClaimPolicyController</display-name>
    <servlet-name>ClaimPolicyController</servlet-name>
    <servlet-class>com.controller.ClaimPolicyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimPolicyController</servlet-name>
    <url-pattern>/ClaimPolicyController</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserDirectPayController</display-name>
    <servlet-name>UserDirectPayController</servlet-name>
    <servlet-class>com.controller.UserDirectPayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDirectPayController</servlet-name>
    <url-pattern>/UserDirectPayController</url-pattern>
  </servlet-mapping>
</web-app>